<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.bean.UserDebitInTypeMapper">
	<!--加入带日志的ehcache缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>
	
	<select id="findAllUserDebitInType" resultType="UserDebitInType">
		select udit_id,udit_name,udit_profit,udit_month from UserDebitInType where udit_status = 1 and udit_name = 'U计划' 
	</select>
	
</mapper>