<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.bean.UserDebitInMapper">
	<!--加入带日志的ehcache缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>
	<!-- 排序条件的拼接 -->
	<sql id="orderSql">
		<if test="orderby!=null and orderby!=''">
			order by #{orderby}
			<if test="orderway!=null and orderway!='' ">
				#{orderway}
			</if>
		</if>
	</sql>

	<!-- 分页条件的拼接 -->
	<sql id="pageSql">
		<if test="start!=null">
			limit #{start},#{pagesize}
		</if>
	</sql>

	<resultMap id="findSanbiaoHistoryResultMap" type="UserDebitIn">
		<id property="udi_id" column="udi_id" />
		<result property="udi_title" column="udi_title" />
		<result property="udi_type" column="udi_type" />
		<result property="totalMoney" column="totalMoney" />
		<result property="udi_money" column="udi_money" />
		<result property="udi_status" column="udi_status" />
		<association property="userDebitInType" javaType="UserDebitInType">
			<result property="udit_profit" column="udit_profit" />
			<result property="udit_month" column="udit_month" />
		</association>
	</resultMap>

	<select id="findSanbiaoHistory" resultMap="findSanbiaoHistoryResultMap"
		parameterType="UserDebitIn">
		select a.*,b.totalMoney from (select
		udi_id,udi_type,udi_title,udi_money,udit_profit,udit_month,udi_status
		from
		(
		(select
		udi_id,udi_type,udi_title,udi_status,udi_money
		from
		UserDebitIn
		group by udi_type
		)a left join
		(select
		udit_id,udit_profit,udit_month
		from UserDebitInType
		)b on
		b.udit_id=a.udi_type
		) where udi_title !=
		'U计划'
		)a left join (
		select
		udi_id,sum(udo_money) as totalMoney from
		UserDebitOut group by udi_id
		)b on a.udi_id = b.udi_id
		<include refid="orderSql" />
		<include refid="pageSql" />
	</select>

	<!-- 查询U计划的历史期数与利息收益 count -->
	<select id="findAllSanbiaoHistoryCount" resultType="int">
		select
		count(udi_id)
		from
		( (select
		udi_id,udi_type,udi_title,udi_status,count(u_id) as
		peopleCount,udi_money,sum(udi_money) as
		totalMoney
		from UserDebitIn
		group by udi_type
		)a left join
		(select
		udit_id,udit_profit,udit_month
		from UserDebitInType
		)b on
		b.udit_id=a.udi_type
		) where udi_title !=
		'U计划'
	</select>

	<resultMap id="findAllUpanHistoryResultMap" type="UserDebitIn">
		<id property="udi_id" column="udi_id" />
		<result property="udi_title" column="udi_title" />
		<result property="peopleCount" column="peopleCount" />
		<result property="totalMoney" column="totalMoney" />
		<result property="udi_money" column="udi_money" />
		<result property="udi_status" column="udi_status" />
		<association property="userDebitInType" javaType="UserDebitInType">
			<result property="udit_profit" column="udit_profit" />
			<result property="udit_month" column="udit_month" />
		</association>
	</resultMap>

	<!-- 查询U计划的历史期数与利息收益 -->
	<select id="findAllUpanHistory" resultMap="findAllUpanHistoryResultMap"
		parameterType="UserDebitIn">
		select a.*,b.totalMoney , b.peopleCount from
		(select
		udi_id,udi_title,
		udi_money,udit_profit,udit_month,udi_status
		from
		( (select
		udi_id,udi_type,udi_title,udi_status,udi_money
		from UserDebitIn
		group by
		udi_type
		)a left join
		(select
		udit_id,udit_profit,udit_month
		from
		UserDebitInType
		)b on
		b.udit_id=a.udi_type
		) where udi_title = 'U计划'
		)a
		left join (
		select udi_id,sum(udo_money) as totalMoney,count(udi_id)
		peopleCount from
		UserDebitOut group by udi_id
		)b on a.udi_id = b.udi_id
		<include refid="orderSql" />
		<include refid="pageSql" />
	</select>
	<!-- 查询U计划的历史期数与利息收益 count -->
	<select id="findAllUpanHistoryCount" resultType="int">
		select
		count(udi_id)
		from
		( (select
		udi_id,udi_type,udi_title,udi_status,count(u_id) as
		peopleCount,udi_money,sum(udi_money) as
		totalMoney
		from UserDebitIn
		group by udi_type
		)a left join
		(select
		udit_id,udit_profit,udit_month
		from UserDebitInType
		)b on
		b.udit_id=a.udi_type
		) where udi_title = 'U计划'
	</select>

	<select id="findAllUserDebitInMoneyByUserDebitInTypeName"
		resultType="UserDebitIn" parameterType="java.util.Map">
		select
		sum(udi_money) as totalMoney from UserDebitIn , UserDebitInType
		where udit_id =
		udi_type and udit_name =#{udit_name}
		<!-- 'U计划' -->
	</select>


	<!-- <resultMap id="userDebitInWithUserDebitInType" type="UserDebitIn"> 
		<id property="udi_id" column="udi_id" /> <result property="udi_money" column="udi_money" 
		/> <collection property="list" ofType="UserDebitInType"> <result property="udit_profit" 
		column="udit_profit" /> <result property="udit_month" column="udit_month" 
		/> </collection> </resultMap> -->
	<resultMap id="findAllUplanDataResultMap" type="UserDebitIn">
		<id property="udi_id" column="udi_id" />
		<result property="udi_money" column="udi_money" />
		<association property="userDebitInType" javaType="UserDebitInType">
			<result property="udit_profit" column="udit_profit" />
			<result property="udit_month" column="udit_month" />
		</association>
	</resultMap>
	<!-- 查找所有U计划的数据 -->
	<select id="findAllUplanData" resultMap="findAllUplanDataResultMap">
		select udi_id
		,udi_money,udit_profit,udit_month from UserDebitIn,UserDebitInType
		where udit_id=udi_type
	</select>



	<!-- 带查询条件，分页条件 排序条件的查询 -->
	<select id="findAllUserDebitInResultMap" parameterType="UserDebitIn"
		resultMap="findUserDebitInResultMap">
		select * from user u join UserDebitIn udi on u.u_id=udi.u_id
		join
		UserDebitInType udt on udi.udi_type=udt.udit_id
		<include refid="orderSql" />
		<include refid="pageSql" />
	</select>
	<select id="findAllUserDebitInunCheckResultMap" parameterType="UserDebitIn"
		resultMap="findUserDebitInResultMap">
		select * from user u join UserDebitIn udi on u.u_id=udi.u_id
		join
		UserDebitInType udt on udi.udi_type=udt.udit_id where
		udi.udi_checkstatus=0
		<include refid="orderSql" />
		<include refid="pageSql" />
	</select>
	<!-- 查找所有的未审核借贷信息统计 -->
	<select id="findAllUserDebitInunCheckResultMapCount"
		parameterType="Map" resultType="int">
		select count(distinct(u.u_id)) from
		user u join UserDebitIn udi on
		u.u_id=udi.u_id
		join UserDebitInType udt
		on udi.udi_type=udt.udit_id where
		udi.udi_checkstatus=0
	</select>

	<!-- 带查询条件，分页条件 排序条件的查询 -->
	<select id="findAllUserDebitInCheckResultMap" parameterType="UserDebitIn"
		resultMap="findUserDebitInResultMap">
		select * from user u join UserDebitIn udi on u.u_id=udi.u_id
		join
		UserDebitInType udt on udi.udi_type=udt.udit_id where
		udi.udi_checkstatus=1
		<include refid="orderSql" />
		<include refid="pageSql" />
	</select>

	<!-- 查找所有的已审核借贷信息统计 -->
	<select id="findAllUserDebitInCheckResultMapCount"
		parameterType="Map" resultType="int">
		select count(distinct(u.u_id)) from
		user u join UserDebitIn udi on
		u.u_id=udi.u_id
		join UserDebitInType udt
		on udi.udi_type=udt.udit_id where
		udi.udi_checkstatus=1
	</select>

	<resultMap type="User" id="findUserDebitInResultMap">
		<id property="u_id" column="u_id" />
		<result property="u_id" column="u_id" />
		<result property="u_name" column="u_name" />
		<result property="u_creditnumber" column="u_creditnumber" />
		<result property="u_creditdegree" column="u_creditdegree" />
		<result property="u_tel" column="u_tel" />
		<!-- property表示集合类型属性名称，ofType表示集合中的对象是什么类型 -->
		<association property="userDebitIn" javaType="UserDebitIn">
			<result property="udi_id" column="udi_id" />
			<result property="udi_money" column="udi_money" />
			<result property="udi_title" column="udi_title" />
			<result property="udi_refundway" column="udi_refundway" />
			<result property="udi_status" column="udi_status" />
			<result property="udi_weight" column="udi_weight" />
			<result property="udi_publishdate" column="udi_publishdate" />
			<result property="udi_date" column="udi_date" />
			<result property="udi_refundrealitydate" column="udi_refundrealitydate" />
			<result property="udi_checkstatus" column="udi_checkstatus" />
			<association property="userDebitInType" javaType="UserDebitInType">
				<result property="udit_id" column="udit_id" />
				<result property="udit_month" column="udit_month" />
				<result property="udit_name" column="udit_name" />
				<result property="udit_profit" column="udit_profit" />
			</association>
			</association>
    </resultMap>  
    
    <!-- 添加借贷信息 -->
    <insert id="addUserDebitIn" parameterType="UserDebitIn" useGeneratedKeys="true" keyProperty="udi_id">
         insert into UserDebitIn(udi_title,u_id,udi_money,udi_status,udi_publishdate,udi_date,udi_refundrealitydate,udi_use,udi_refundway,udi_type)  
    	values(#{udi_title},#{u_id},#{udi_money},#{udi_status},#{udi_publishdate},#{udi_date},#{udi_refundrealitydate},#{udi_use},#{udi_refundway},#{udi_type})
    </insert>
    
    
       <!-- 添加U计划信息 -->
    <insert id="addNewUplan" parameterType="UserDebitIn" useGeneratedKeys="true" keyProperty="udi_id">
         insert into UserDebitIn(udi_title,u_id,udi_use,udi_money,udi_status,udi_publishdate,udi_date,udi_refundrealitydate,udi_refundway,udi_type)  
    	values(#{udi_title},#{u_id},#{udi_use},#{udi_money},#{udi_status},#{udi_publishdate},#{udi_date},#{udi_refundrealitydate},#{udi_refundway},#{udi_type})
    </insert> 
    

    
    
    <!-- 修改借贷用户审核状态信息 -->
    <update id="updateUserDebitInCheckStatus" parameterType="UserDebitIn">
    	update UserDebitIn set udi_checkstatus=#{udi_checkstatus} where udi_id=#{udi_id}
    </update>
    

    
    
     <!-- 修改借贷用户状态信息   0  未审核状态   1  审核完成 凑款状态   2 筹款完成待放款状态   3 还款状态(借了未还)   4  完成还款 （失败 ） -->    
    <update id="updateUserDebitInStatus" parameterType="UserDebitIn">
    	update UserDebitIn set udi_status=#{udi_status} where udi_id=#{udi_id}
    </update>



	
	<!-- 后台修改借贷用户权重   权重越大   排在前台借贷信息的位置越靠前 -->    
    <update id="updateUserDebitInWeight" parameterType="UserDebitIn">
    	update UserDebitIn set udi_weight=#{udi_weight} where udi_id=#{udi_id}
    </update>
    
    	<!-- 带查询条件，分页条件 排序条件的查询 -->
	<select id="findAllSingerUserDebitInCondition" resultType="UserDebitIn">
		select * from UserDebitIn where 1=1 	<include refid="orderSql" />
		<include refid="pageSql" />
	</select>
	<!-- 带查询条件统计查询 -->
	<select id="findAllSingerUserDebitInConditionCount" parameterType="Map"
		resultType="int">
		select count(1) from UserDebitIn where 1=1 	<include refid="orderSql" />
		<include refid="pageSql" />
	</select>
<!-- 后台单表修改借贷用户的个人信息 -->
	<update id="updateSingerUserDebitIn" parameterType="UserDebitIn">
		update UserDebitIn set
		udi_title=#{udi_title},udi_money=#{udi_money},udi_status=#{udi_status},udi_use=#{udi_use},udi_refundway=#{udi_refundway},
		udi_type=#{udi_type},udi_weight=#{udi_weight},udi_checkstatus=#{udi_checkstatus}
		where udi_id=#{udi_id}
	</update>

      	<!-- 带查询条件，分页条件 排序条件的查询 -->
	<select id="findAllUplanManagerInfoCondition" parameterType="UserDebitIn"
		resultMap="findAllUplanManagerInfoResultMap">
		select * from UserDebitIn udi join UserDebitInType udit on udi.udi_type=udit.udit_id where udi.udi_title='U计划'
		<include refid="orderSql" />
		<include refid="pageSql" />
	</select>
	<!-- 带查询条件统计查询 -->
	<select id="findAllUplanManagerInfoConditionCount" parameterType="Map"
		resultType="int">
		select count(1) from UserDebitIn udi join UserDebitInType udit on udi.udi_type=udit.udit_id where udi.udi_title='U计划'
	</select>
	
		<resultMap type="UserDebitIn" id="findAllUplanManagerInfoResultMap">
			<id property="udi_id" column="udi_id" />
			<result property="udi_id" column="udi_id" />
			<result property="u_id" column="u_id" />
			<result property="udi_type" column="udi_type" />
			<result property="udi_money" column="udi_money" />
			<result property="udi_title" column="udi_title" />
			<result property="udi_refundway" column="udi_refundway" />
			<result property="udi_status" column="udi_status" />
			<result property="udi_weight" column="udi_weight" />
			<result property="udi_publishdate" column="udi_publishdate" />
			<result property="udi_date" column="udi_date" />
			<result property="udi_refundrealitydate" column="udi_refundrealitydate" />
			<result property="udi_checkstatus" column="udi_checkstatus" />
		<!-- property表示集合类型属性名称，ofType表示集合中的对象是什么类型 -->
			<association property="userDebitInType" javaType="UserDebitInType">
				<result property="udit_id" column="udit_id" />
				<result property="udit_month" column="udit_month" />
				<result property="udit_name" column="udit_name" />
				<result property="udit_profit" column="udit_profit" />
			</association>
    </resultMap>  
	






</mapper>	